/* @import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Castoro+Titling&family=Montserrat:ital,wght@0,400;1,300&family=Ysabeau:ital,wght@1,100;1,200&display=swap');
*,*::before,*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;


}
body{
    background-color: white;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

    color:black;
}
h1{
    font-size: 1.4rem;
    font-family: "Montserrat", "sans-serif";
    color:black;
}

h2{
    font-size: 1.9rem;
    font-family: "Anton";
    color: #556B2F;
    font-size: 48px;
    font-weight:bolder;
    padding-bottom: 20px;
    

}

a{
    text-decoration: none;
    outline: none;
}
.navigation-link{
     /* border: 2px solid red;  */
     display: flex;

}

.my-links{
    text-decoration: none;
    /* margin-left: 10px; */
    margin-right: 10px;
    /* border: 1px solid green; */
    
    
}

.navigation-list{
    text-decoration: none;
    display: flex;
    list-style: none;
    width: 100%;
    /* border: 2px solid  yellow;  */
    display: flex;


}
.link-container{
    width: 70%;
    margin-left: 30%;
    /* border: 2px solid blue; */
    display: flex;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;




}
.link-deco{
    padding-right: 10px;
    margin-right: 10px;
    background-color: white;
    color:#556B2F;
    font-family: "Castoro Titling";
    font-weight: bold;

}
.logo-container{
    /* border: 2px solid black; */
    width: 30%;
}
.logo{
    /* border: 2px solid orange; */
    font-size: 30px;
    width:fit-content;
    display: flex;
    font-family: "Castoro Titling";
    color: #556B2F;
    letter-spacing: 7px;

}
.logo-link{
    text-decoration: none;
    display:inline-block;
    display: inline;
}

.all-forming{
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 40px;
    margin-top: 30px;

}
.form-collect{
    padding: 20px 40px;
    background-color: #556B2F;
}

.reachout{
    text-align: center;
}

.namedetail{
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid teal;
}

textarea{
    margin-top: 10px;
    width: 100%;
    resize: none;
    border: 2px solid teal;
    color: white;
    text-indent: none;
}

.submit-button{
    text-align: center;
    border: none;
    padding: 10px 40px;
    margin-top:  20px;
    position: relative;
    background-color: teal;
    color: white;
    font-size: 1.2rem;

}
.submit-button:hover{
    font-size: 1.0rem;
    transition: 1.0s;
    background-color: red;
    color:white;
}
.lbel{
color: white;
display: block;
font-size: 1.0rem;

}

.introduction{
    margin-bottom: 20px;
    /* padding: 40px;
    margin: 40px; */
    width: 100%;
    /* border: 2px dotted red; */
}

.introduction-details{
    width: 100%;
    /* padding: 40px;
    margin-left: 20px;
    margin-right: 20px; */ 
    /* background-color: blanchedalmond; */
    background-color: white;
    display: flex;


    
}

.mainpic-container{
    margin-left:10% ;

}

.journey{
    text-align: center;
    font-family: "Ysabeau";
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    
   
    margin-right: 20px;
    margin-top: 20px;

    font-size: 30px;
    color:#556B2F;
    /* font-weight:bold; */
    /* margin-top: 50px; */
    /* border: 2px solid blue; */
    width: 600px;

}

.journey-wrapper{
    /* padding-left: 20px; */
    
    width:50%; 

}
.story{
    text-align: center;
    color:teal;
    font-size: 3.9em;
}
.deco{
    color:brown;
    font-weight: bolder;
    
}
.Mystory{
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:40px;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    /* border-bottom:1px solid #556B2F */
}

.img-container{
    width: 20%;
}
.about-me-pic{
    width: 300px;
    padding-top: 20px;
    padding-left: 70px;
    /* padding: 40px; */
    /* margin: 40px; */
}

.welcome{
    font-size: 1.9rem;
    color:#556B2F;
    padding: 30px;

}

.greetings-box{
    /* border: 2px solid black; */
    width: 100%;
    padding: 40px;
    margin-top: 10px;

}



.greetings-wrapper{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 10px;

    margin-left: 20px;
    margin-right: 20px;
    background-color: blanchedalmond;

    
}



.greetings{
    text-align: center;
    font-family: "Castoro Titling";
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;


    font-size: 70px;
    color:#556B2F;
    font-weight:bold;
    margin-top: 40px;
}



.skill{
    border: 2px solid red;
}
.experience{
    display: flex;
    border: 2px solid black;
    width: 100%;
}

.skills-icon{
    display: flex;
    /* border: 2px solid blue; */
    width: 50%;
    margin-left: 25%;


}


.icon-python{
    width:100px;
    margin-top: 10px;
    padding-right: 50%;


}
.icon-css{
    width:100px;
    margin-top: 10px;
    padding-right: 50%;

}
.icon-html{
    width:140px;
    margin-top: 10px;
    padding-right: 50%;


}



.Tech-Drill-container{
    /* border: 2px solid red; */
    border-radius: 20px;
    width: 100%;
}

.techdrill-wrapper{
    border: 2px solid blue;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 50%;
}

.aboutme-gangan{
    /* background-color: black; */
    border: 2px solid white;
    border-radius: 10px;
    max-width: 40%;
    width: auto;
    text-align: center;
    margin-left: 38%;
    margin-right: auto;
    padding: 30px;
    background-color: blanchedalmond;
    border-color: white;
    color: white;

}
.aboutme-gangan:hover{
    color: teal;
}
.parahraph{
    font-size: 16px;
    font-family:"Alegreya Sans";
    text-align: center;
    word-wrap: break-word;
    color: #556B2F;
    width:100%;
    
}
.parahraph:hover{
    color:red;
}
.mystory{
    text-align: center;
    font-family: "Castoro Titling";
    font-size: 30px;
    letter-spacing: 1.0rem;

}