/* @import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Castoro+Titling&family=Montserrat:ital,wght@0,400;1,300&family=Ysabeau:ital,wght@1,100;1,200&display=swap');
*,*::before,*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;


}
body{
    background-color: white;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    
    color:black;
}
h1{
    font-size: 10px;
    font-family: "Castoro Titling";
    color:black;
    text-align: right;
    padding-right: 16%;
}

h2{
    font-size: 1.9rem;
    font-family: "Anton";
    color: #556B2F;
    font-size: 48px;
    font-weight:bolder;
    padding-bottom: 20px;
    

}

a{
    text-decoration: none;
    outline: none;
}
.navigation-link{
     /* border: 2px solid red;  */
     display: flex;
     margin-top: 1%;

}

.my-links{
    text-decoration: none;
    /* margin-left: 10px; */
    margin-right: 10px;
    /* border: 1px solid green; */
    
    
    
}

.my-links:hover{
    color: crimson;
    

}

.navigation-list{
    text-decoration: none;
    display: flex;
    list-style: none;
    width: 100%;
    /* border: 2px solid  yellow;  */
    display: flex;


}
.link-container{
    width: 70%;
    margin-left: 30%;
    /* border: 2px solid blue; */
    display: flex;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;




}
.link-deco{
    padding-right: 10px;
    margin-right: 10px;
    background-color: white;
    color:#556B2F;
    font-family: "Castoro Titling";
    font-weight: bold;

}
.link-deco:hover{
    color: crimson;
}
.logo-container{
    /* border: 2px solid black; */
    width: 30%;
}
.logo{
    /* border: 2px solid orange; */
    font-size: 30px;
    width:fit-content;
    display: flex;
    font-family: "Castoro Titling";
    color: #556B2F;
    letter-spacing: 7px;

}
.logo:hover{
    color: crimson;
    
}
.logo-link{
    text-decoration: none;
    display:inline-block;
    display: inline;
}

/* .all-forming{
    max-width: 60%;
    margin: auto;
    background-color: white;
    padding: 40px;
    margin-top: 30px;

}
.form-collect{
    padding: 20px 40px;
    background-color: #556B2F;
    border-radius: 10px;
    max-width: 60%;
    width: relative;
    margin-left: 38%;
    margin-right: auto;
    

} */

.all-forming{
    width: 100%;
    margin: auto;
    /* background-color: white; */
    /* padding: 40px; */
    margin-top: 20px;
    /* margin-bottom: z;
 */
 /* border: 2px solid red; */

}
.form-collect{
    padding: 20px 40px;
    background-color: blanchedalmond;
    width:40%;
    height: fit-content;
    margin-left: 30%;
    margin-bottom: 50px;
    /* border: 2px solid red; */
    


}

.reach-out{
    text-align: center;
    font-size: 50px;
    justify-content: center;
    /* padding-left: 10%; */
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 50px;
}

.namedetail{
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border: 2px solid teal;
    border-color: teal;
}

textarea{
    margin-top: 10px;
    width: 100%;
    resize: none;
    border: 2px solid teal;
    color: white;
    text-indent: none;
}

.submit-button{
    text-align: center;
    border: none;
    padding: 10px 40px;
    margin-top:  20px;
    display:block;
    background-color: teal;
    color: white;
    font-size: 1.2rem;

}
.submit-button:hover{
    font-size: 1.0rem;
    transition: 1.0s;
    background-color: red;
    color:white;
}
.lbel{
color: teal;
display: block;
font-size: 20px;
font-family: "Castoro Titling";
font-weight: bold;


}

/* .txtbox{
    border: 2px solid blue;
    display: inline-block;
    width:50%
} */
.collect-info{
    width: 100%;
    color: black;
    font-weight: bold;
    /* padding-left: 10%; */
}

.introduction{
    margin-bottom: 20px;
    /* padding: 40px;
    margin: 40px; */
    width: 100%;
    margin-top: 10%;

    /* border: 2px dotted red; */
}

.introduction-details{
    width: 100%;
    /* padding: 40px;
    margin-left: 20px;
    margin-right: 20px; form-collect */ 
    /* background-color: blanchedalmond; */
    background-color: white;
    display: flex;


    
}

.mainpic-container{
    margin-left:10% ;

}

.journey{
    text-align: center;
    font-family: "Ysabeau";
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    
   
    margin-right: 20px;
    margin-top: 20px;

    font-size: 40px;
    color:#556B2F;
    /* font-weight:bold; */
    /* margin-top: 50px; */
    /* border: 2px solid blue; */
    width: 600px;

}

.journey-wrapper{
    /* padding-left: 20px; */
    
    width:50%; 

}
.story{
    text-align: center;
    color:teal;
    font-size: 3.9em;
}
.deco{
    color:brown;
    font-weight: bolder;
    
}
.Mystory{
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:40px;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    /* border-bottom:1px solid #556B2F */
}

.img-container{
    width: 20%;
}
.about-me-pic{
    width: 300px;
    padding-top: 20px;
    padding-left: 70px;
    /* padding: 40px; */
    /* margin: 40px; */
}

.welcome{
    font-size: 1.9rem;
    color:#556B2F;
    padding: 30px;

}

.greetings-box{
    /* border: 2px solid black; */
    width: 100%;
    padding: 40px;
    margin-top: 5%;

}



.greetings-wrapper{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 10px;

    margin-left: 20px;
    margin-right: 20px;
    background-color: blanchedalmond;

    
}



.greetings{
    text-align: center;
    font-family: "Castoro Titling";
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    word-wrap: break-word;

    font-size: 70px;
    color:#556B2F;
    font-weight:bold;
    margin-top: 40px;
}



.skill{
    border: 2px solid red;
}
.experience{
    display: flex;
    border: 2px solid black;
    width: 100%;
}

.skills-icon{
    display: flex;
    /* border: 2px solid blue; */
    width: 50%;
    margin-left: 25%;


}


.icon-python{
    width:100px;
    margin-top: 10px;
    padding-right: 50%;


}
.icon-css{
    width:100px;
    margin-top: 10px;
    padding-right: 50%;

}
.icon-html{
    width:140px;
    margin-top: 10px;
    padding-right: 50%;


}



.about-me-container{
    /* border: 2px solid red; */
    border-radius: 20px;
    width: 100%;
    margin-top: 60px;
    padding-top: 60px;
}

/* .techdrill-wrapper{
    border: 2px solid blue;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 50%;
} */

.about-me-gangan{
    /* background-color: black; */
    border: 2px solid white;
    border-radius: 10px;
    max-width: 70%;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 50px;
    padding: 50px;
    margin-bottom: 50px;
    background-color: blanchedalmond;
    border-color: white;
    color: white;

}
.about-me-gangan:hover{
    color: teal;
}
.parahraph{
    font-size: 20px;
    font-family:"Alegreya Sans";
    text-align: center;
    word-wrap: break-word;
    color: #556B2F;
    width:100%;
    
}
.parahraph:hover{
    color:red;
}
.mystory{
    text-align: center;
    font-family: "Castoro Titling";
    font-size: 30px;
    letter-spacing: 1.0rem;
    /* width: inherit; */

}




.footer-container{
    display: flex;
    /* border: 2px solid green;  */
    margin-top: 50px;
    padding-top: 50px;

}

.footer-wrapper  {

    /* display: flex; */
    margin-bottom: 30px;
    /* width: ; */
    width: fit-content;
    height:inherit;
    width: 50%;
    margin-left: 25%;
    /* margin-top: 10.5rem; */
    padding-left:50px;
     /* border:2px solid red;  */

}

.footer-icon-container {
    display: flex;
    margin-bottom: 30px;
    height: fit-content;
    /* border:2px solid black;  */
    margin-top: 10px;
    /* padding-left:10% ; */
    list-style: none;
    width: 50%;
    margin-left: 30%;

}


.footer-icon-name{
    text-align: left;
    margin-top: 40px;
    font-size: 30px;
    font-family: "Castoro Titling";
    /* padding-left:10% ; */
    color:#556B2F;
    word-wrap: normal;
    padding-left: 50px;
    margin-left: 150px;
    padding-bottom: 40px;
    margin-top: 30px;

}


.icon> p{
    color:#556B2F;
    display: inline;
    font-family: "Castoro Titling";
    padding-left: 40px;
}

.instacon{
    background: linear-gradient(to right, #405DE6, #833AB4, #C13584, #FD1D1D, #F56040, #F77737);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;    width: 12px;
    /* padding-top: 10px; */
    background-size: 100%;
    

    
}
.twitacon{
    background: linear-gradient(to right, #1DA1F2, #1DA1F2, #1877f2, #1877f2, #0057ae, #0057ae);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
}